<script>
export let SelCity='Baltimore';
export let SelScale='FULL';
</script>

<div style='float:left'>
    <h5>Select City:</h5>
    <label>
        <input type='radio' bind:group={SelCity} name='city' value='Baltimore' checked>
        Baltimore
    </label><br>
    <label>
        <input type='radio' bind:group={SelCity} name='city' value='Chicago'>
        Chicago
    </label><br>
    <label>
        <input type='radio' bind:group={SelCity} name='city' value='Los Angeles'>
        Los Angeles
    </label>
</div>
<div style='float:right'>
    <h5>Select Scale:</h5>
    <label>
        <input type='radio' bind:group={SelScale} name='scale' value='FULL' checked>
        Scale across all lines
    </label><br>
    <label>
        <input type='radio' bind:group={SelScale} name='scale' value='LINE'>
        Scale per line
    </label>
</div>