<script>
export let data=[];
import {width,height,innerWidth,innerHeight,treeNode,treeBase,leafHeight} from '/static/js/_design_3_store.js';
import {scaleLinear} from 'd3-scale';
import { extent } from 'd3-array';
let treeScale=scaleLinear().domain([0,5]).range([treeNode,treeBase])
let xScale;
let EyScale;
let GyScale;
function leafpathGen(d,xscale,yscale,xstart,ystart,xend,yend){
    let path="M " + xstart + "," + ystart;
    d.forEach((value,idx) => {
        path += " " + xscale(idx) + ',' + yscale(value)
    })
    path += ' ' + xend + ',' + yend;
    return path 
}
</script>>

<svg {width} {height}>
    {#each Object.keys(data) as week, week_nr}
    {EyScale = scaleLinear().domain(extent(data[week]['elec'])).range([treeScale(week_nr+1),treeScale(week_nr+1.5)])}
    {GyScale = scaleLinear().domain(extent(data[week]['gas'])).range([treeScale(week_nr+1),treeScale(week_nr)])}
    {console.log(data[week].length)}
    {#if (week_nr+1) % 2 != 0}
    <g transform='rotate(-25,{innerWidth/2},{treeScale(week_nr+1)})'>
    <line x1={innerWidth/2} x2={0.85*innerWidth} y1={treeScale(week_nr+1)} y2={treeScale(week_nr+1)}/>
    {xScale = scaleLinear().domain([0,data[week]['city'].length]).range([innerWidth/2,0.85*innerWidth])}
    <path id='elec' d={leafpathGen(data[week]['elec'],xScale,EyScale,innerWidth/2,treeScale(week_nr+1),0.85*innerWidth,treeScale(week_nr+1))}/>
    <path id='gas' d={leafpathGen(data[week]['gas'],xScale,GyScale,innerWidth/2,treeScale(week_nr+1),0.85*innerWidth,treeScale(week_nr+1))}/>
    <text x={0.87*innerWidth} y={treeScale(week_nr+1)}>week {week_nr+1}</text>
    </g>
    {:else}
    <g transform='rotate(25,{innerWidth/2},{treeScale(week_nr+1)})'>
    <line x1={innerWidth/2} x2={0.15*innerWidth} y1={treeScale(week_nr+1)} y2={treeScale(week_nr+1)}/>
    {xScale = scaleLinear().domain([0,data[week]['city'].length]).range([innerWidth/2,0.15*innerWidth])}
    <path id='elec' d={leafpathGen(data[week]['elec'],xScale,EyScale,innerWidth/2,treeScale(week_nr+1),0.15*innerWidth,treeScale(week_nr+1))}/>
    <path id='gas' d={leafpathGen(data[week]['gas'],xScale,GyScale,innerWidth/2,treeScale(week_nr+1),0.15*innerWidth,treeScale(week_nr+1))}/>
    <text id='lefttext' x={0.13*innerWidth} y={treeScale(week_nr+1)}>week {week_nr+1}</text>
    </g>
    {/if}
    {/each}
</svg>

<style>
    line{
        stroke:black;
    }
    #gas{
        stroke:sandybrown;
        fill:sandybrown;
        fill-opacity: 50%;
    }
    #elec{
        stroke:dodgerblue;
        fill:dodgerblue;
        fill-opacity: 50%;
    }
    #lefttext{
        text-anchor:end;
    }
</style>