<script>
import { xScale, yScale } from '/static/js/_design_1_store.js';
import {height,width,innerHeight,innerWidth,margin,yscaleTick} from '/static/js/_design_1_store.js';
import { scaleLinear } from 'd3-scale';
import { extent } from 'd3-array';
export let data = [];
export let scale;
let pathGen= (d) => {
    let path="M 0,"+innerHeight/16;
    d.forEach((value,idx) => {
        path += " " + xScale(idx) + ',' + $yScale(value)
    })
    path += ' 879,' + innerHeight/16
    return path 
}
</script>

<svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      {#each Object.keys(data) as building, idb}
        <g transform="translate(0,{innerHeight*idb/16})">
          <text id='building' y={innerHeight/32}>{building}</text>
          <text id='axisbegin' y={innerHeight/16}>Dec 1 00:00</text>
          <text id='axisend' x={innerWidth} y={innerHeight/16}>Dec 31 23:59</text>
          {#if scale == 'LINE'}
          {yScale.set(scaleLinear().domain(extent(data[building]['values'])).range([yscaleTick,0]))}
          <path d={pathGen(data[building]['values'])}/>
          {/if}
            {#each data[building]['values'] as energy, idx}
            <line x1={xScale(idx)} x2={innerWidth} y1=0 y2=0/>
            {/each}
          {#if scale =='FULL'}
          <path d={pathGen(data[building]['values'])}/>
          {/if}
        </g>
      {/each}
    </g>
  </svg>

  <style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
    line{
      stroke: black;
      stroke-width: 0.001mm;
    }
    #building{
      font-size: small;
    }
    #axisbegin{
      font-size: x-small;
      dominant-baseline: hanging;
    }
    #axisend{
      font-size: x-small;
      dominant-baseline: hanging;
      text-anchor: end;
    }
    path{
      fill: dodgerblue;
      fill-opacity: 80%;
    }
  </style>