<script>
  import {width,height,margin,innerWidth,innerHeight,treeNode,treeBase} from '/static/js/_design_3_store.js';
  import { onMount } from "svelte";
  import { json } from 'd3-fetch';
  import Branches from './_design_3_branch.svelte';
  let data=[];
  let transdata={};
  onMount(async () => {
    data = await json('/data/hourly_electricity_vs_gas_december.json');
  });
  $:{
  data.forEach((d) => {
    if(!(d.week in transdata)){
      transdata[d.week] = {"city":[], "elec": [], "gas": []};
    }
      transdata[d.week]['city'].push(d.city)
      transdata[d.week]['elec'].push(d.total_electrity)
      transdata[d.week]['gas'].push(d.total_gas)
      })
  };
  
</script>


<svg {width} {height}>
  {#if !data & Object.keys(transdata)==undefined}
  <p>Loading the data, please wait...</p>
  {:else}
  <g transform="translate({margin.left}, {margin.top})">
    <line x1={innerWidth/2} x2={innerWidth/2} y1={2/3*treeBase} y2={treeNode+10}/>
    <Branches data={transdata}/>
    <text class='legend' id='elect' x={0.3*innerWidth} y={0.8*innerHeight}>Electricity use</text>
    <text class='legend' id='gass' x={0.3*innerWidth} y={0.83*innerHeight}>Gas use</text>
    <text id='title' x={innerWidth/2} y={innerHeight-20}>Chicago (December)</text>
    <text id='subtitle' x={innerWidth/2} y={innerHeight}>Daily electricity and gas use, per week</text>
  </g>
  {/if}
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  line{
    stroke:black;
  }
  #title{
    font-weight:bold;
    font-size:x-large;
    text-anchor: middle;
  }
  #subtitle{
    font-size:small;
    text-anchor:middle;
  }
  .legend{
    text-anchor:end;
  }
  #elect{
    stroke:sandybrown;
  }
  #gass{
    stroke:dodgerblue;
  }
</style>
