<script>
  import { onMount } from 'svelte';
  import { json } from 'd3-fetch';
  import { scaleLinear,scaleRadial } from 'd3-scale';
  import { extent } from 'd3-array';
  // Size and margins
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const circCenter = innerWidth/6;
  let data = [];
  let transdata={};
  let radius = 55;
  let yScale;
  let xScale;
  onMount(async () => {
    data = await json('/data/daily_heating_cooling.json');
  });
  $:{
  data.forEach((d) => {
    if(!(d.city in transdata)){
      transdata[d.city] = {'hot': [], 'cold': [], 'index': []};
    }
      transdata[d.city]['hot'].push(d.heating);
      transdata[d.city]['cold'].push(d.cooling);
      transdata[d.city]['index'].push(d.day_of_year);
  })
  };
  function rotate(cx, cy, x, y, angle) {
    var radians = (Math.PI / 180) * angle,
        cos = Math.cos(radians),
        sin = Math.sin(radians),
        nx = (cos * (x - cx)) + (sin * (y - cy)) + cx,
        ny = (cos * (y - cy)) - (sin * (x - cx)) + cy;
    return " " + nx + ',' + ny;
};
  let pathGenhot= (d) => {
    let path="M";
    d.forEach((value,idx) => {
      path += rotate(0,0,0,yScalehot(value),xScale(idx)+90) 
    })
    path += " Z"
    return path;
};
let pathGencold= (d) => {
    let path="M";
    d.forEach((value,idx) => {
      path += rotate(0,0,0,yScalecold(value),xScale(idx)+90) 
    })
    path += " Z"
    return path;
};
  $: xScale = scaleRadial().domain([0,365]).range([0,360]);
  $: yScalehot = scaleLinear().domain(extent(data.map((d) => d.heating))).range([0,radius]);
  $: yScalecold = scaleRadial().domain(extent(data.map((d) => d.cooling))).range([0,radius]);
</script>

<svg {width} {height}>
  {#if !data & Object.keys(transdata)==undefined}
  <p>Loading the data, please wait...</p>
  {:else}
  <g transform="translate({margin.left}, {margin.top})">
    <text transform="translate({circCenter*3},{innerHeight/16})" id="header">Yearly heating and cooling</text>
    <g transform="translate({circCenter},{innerHeight/2})">
    <text id="hot" x={-1.25*radius} y={-radius}>Heating</text>
    <text id="cold" x={-1.25*radius} y={-0.75*radius}>Cooling</text>
    </g>
    {#each Object.keys(transdata) as city, idc}
    <g transform="translate({circCenter*(idc*2+1)},{innerHeight/2})">
      <text id='title' x=0 y={-1.5*radius}>{city}</text>
      <circle cx=0 cy=0 r={radius}/>
      <line x1= {-radius} x2 = {+radius} y1=0 y2=0/>
      <line x1=0 x2=0 y1={+radius} y2={-radius}/>
      <text id='toptext' x=0 y={-radius-3}>Jan</text>
      <text id='righttext' x={radius+2} y=3>Mar</text>
      <text id='bottomtext' x=0 y={radius+2}>Jun</text>
      <text id='lefttext' x={-radius-3} y=3>Sep</text>
      <path id='cooling' d={pathGencold(transdata[city]['cold'])}/>
      <path id='heating' d={pathGenhot(transdata[city]['hot'])}/>
      </g>
    {/each}
  </g>
  {/if}
</svg>


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  circle{
    fill: none;
    stroke: black;
    stroke-width: 1px;
  }
  line{
    stroke: black;
  }
  #toptext{
    text-anchor:middle;
  }
  #righttext{
    dominant-baseline: middle;
  }
  #lefttext{
    dominant-baseline: middle;
    text-anchor:end;
  }
  #bottomtext{
    dominant-baseline: hanging;
    text-anchor:middle;
  }
  #title{
    text-anchor: middle;
    font-weight: bold;
  }
  #heating{
    fill:firebrick;
    fill-opacity: 50%;
    stroke: firebrick;
  }
  #cooling{
    fill: dodgerblue;
    fill-opacity: 50%;
    stroke: dodgerblue;
  }
  #hot{
    text-anchor:middle;
    stroke:firebrick;
  }
  #cold{
    text-anchor:middle;
    stroke:dodgerblue;
  }
  #header{
    text-anchor:middle;
    font-weight:bold;
    font-size:x-large;
  }
</style>
