<script>
  import { onMount } from 'svelte';
  import { json } from 'd3-fetch';
  import Lines from './_design_1_lines.svelte';
  import Controls from './_design_1_controls.svelte';
  import { yScale, yscaleTick } from '/static/js/_design_1_store.js';
  import { scaleLinear } from 'd3-scale';
  import { extent } from 'd3-array';
  let data = [];
  let transdata={};
  let city='Baltimore';
  let scale;
onMount(async () => {
    data = await json('/data/hourly_heating_december.json');
  });
 $:{
  data.forEach((d) => {
    if(!(d.city in transdata)){
      transdata[d.city] = {};
    }
    if(!(d.buildingtype in transdata[d.city])){
      transdata[d.city][d.buildingtype] = {"values": [], "day": [], "hour": []};
    }
      transdata[d.city][d.buildingtype]['values'].push(d.total_heating_energy)
      transdata[d.city][d.buildingtype]['day'].push(d.day)
      transdata[d.city][d.buildingtype]['hour'].push(d.hour)
      })
  };
  function citySelect(data, city){
    let newdata=data[city];
    return newdata;
  };
  $:{
    if(scale=='FULL'){
      yScale.set(scaleLinear().domain(extent(data.map((d) => d.total_heating_energy))).range([yscaleTick,0]))
    }
  };
</script>

  {#if !data & Object.keys(transdata)==undefined}
  <p>Loading the data, please wait...</p>
  {:else}
  <div>
    <h1>Heating energy use for december</h1>
    <p><Controls bind:SelCity = {city} bind:SelScale={scale} /></p>
    <p><Lines data = {citySelect(transdata,city)} {scale}/></p>
  </div>
  {/if}

