<script>
  let clicked = false;
</script>

<div>
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
  {#if clicked == true}
    <i>You have clicked the button!</i>
  {:else}
    <i>You have to click the button!</i>
  {/if}
</div>
