<script>
  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];
  export let slideryear=1;
  let play_button="Play";
  let y=null;
  export let ddvalue = "europe";
  function year_loop(){
    if(slideryear==214){
      slideryear = 0;
    } else{
      slideryear += 1;
    }
  };
  function play_pause(){
    clearInterval();
    if(play_button == "Play"){
      y = setInterval(year_loop,1000);
      play_button = "Pause";
    } else {
      clearInterval(y);
      play_button = "Play";
    }
  };
  function reset(){
    clearInterval(y);
    slideryear=0;
    play_button="Play";
  };
</script>

<div class="row">
  <div>
  <button class="btn btn-primary" on:click={play_pause}>{play_button}</button>
  <button class="btn btn-primary" on:click={reset}>Reset</button>
  </div>
  <label for="yearRange">Year {data[slideryear]['year']}</label>
  <input type="range" min="0" max="214" bind:value={slideryear} class="slider" id="yearRange">
</div>
<select name="continent" bind:value={ddvalue}>
  <option selected disabled>Select continent...</option>
  <option value={continents}>All Continents</option>
  <option value="europe">Europe</option>
  <option value="asia">Asia</option>
  <option value="americas">Americas</option>
  <option value="africa">Africa</option>
</select>

<style>
  #yearRange{
    width:95%;
  }
</style>