<script>
    let count=0;
</script>
<button class="btn btn-primary" on:click="{() => count += 1}">I have been pressed {count} times!</button>
<button class="btn btn-secondary" on:click="{() => count = 0}">Reset counter</button>
