<script>
import { each } from "svelte/internal";
import { onMount } from 'svelte';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];


  let index = points.length;;
 

  // Color
  let stop = "darkred";
  let go = "darkgreen";
  const off = 0.3;
  const on = 1;
  function Bing(){
    index -= 1;
  }
  $:onMount(setInterval(Bing,1000));
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
  {#if index > -1} 
    {#each points as p, i}
    {#if i>index}
    <circle cx={p} cy={innerHeight/2} fill={stop} r=10 opacity={on}></circle>
    {:else}
    <circle cx={p} cy={innerHeight/2} fill={stop} r=10 opacity={off}></circle>
    {/if}
    {/each}
  {:else}
    {clearInterval()}
    {#each points as p, i}
    <circle cx={p} cy={innerHeight/2} fill={go} r=10 opacity={on}></circle>
    {/each}
  {/if}
  </g>
</svg>
