<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let year=0;
  let data = null;
  
  let continent= ["europe", "asia", "americas", "africa"];
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });
  function DataMod(data, year,continent){
    let newdata=data[year]['countries'];
    const Contincl = newdata.filter(d => continent.indexOf(d.continent)>-1);
    return Contincl;
  };
  
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
{console.log(data[0]['countries'][['continent']])}
<Scatterplot data={DataMod(data,year,continent)} />
  <div>
    <Controls bind:slideryear={year} bind:ddvalue = {continent} data={data}/>
  </div>
{/if}
