<script>
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  export let data=[];
  import {scaleLinear, scaleOrdinal} from 'd3-scale';
  import {axisLeft} from 'd3-axis';
  import {axisBottom} from 'd3-axis';
  import{select} from 'd3-selection';
  import {schemeDark2} from 'd3-scale-chromatic';
  import { extent } from 'd3-array';
  const scaleX = scaleLinear().domain([0,4500]).range([0,innerWidth]);
  const scaleY = scaleLinear().domain([45,20]).range([0,innerHeight]);
  const scaleR = scaleLinear().domain([4000,13740000]).range([1.9,2.1]);
  const xAxis = axisBottom(scaleX);
  const yAxis = axisLeft(scaleY);
  function botAx(dom){
    xAxis(select(dom))
  };
  function leftAx(dom){
    yAxis(select(dom))
  };
  const scaleColour = scaleOrdinal(schemeDark2).domain(["europe","asia","americas","africa"]);
</script>

<svg viewBox="0 0 {width+20} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
      {#each data as dp}
      <circle cx={scaleX(+dp.income)} cy={scaleY(+dp.life_exp)} r={scaleR(+dp.population)} fill={scaleColour(dp.continent)}/>
      {/each}
      <text x=-30 y={innerHeight/2+50} transform="rotate(-90,-30,{innerHeight/2+50})">Life expectancy per country</text>
      <text X={innerWidth/2+140} y={innerHeight+35}>Income per country</text>
      <text x=0 y=-10 class="bold">Scatterplot of life expectancy and income per country, grouped by continent</text>
      <text x={innerWidth/2+140} y={innerHeight-35} class="label">Year 1800</text>
  </g>
  <g use:botAx transform={`translate(${margin.left},${innerHeight+margin.top})`}/>
  <g use:leftAx transform={`translate(${margin.left},${margin.top})`}/>
</svg>

<style>
  .bold{
    font-weight:bold;
  }
  .label{
    font:bold 30px sans-serif;
  }
</style>

