<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const rectdim = 40
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <rect x={innerWidth/2 -20} y={innerHeight/2 -20} width={rectdim} height={rectdim}/>
    <circle cx={(innerWidth+rectdim)/2} cy={(innerHeight+rectdim)/2} r=20/>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  rect{
    fill: yellow;
  }
  circle{
    fill: skyblue;
  }
</style>
