<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  import {axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';
  import {scaleLog} from 'd3-scale';
  const scaleX=scaleLog().domain([1,10]).range([0,800]);
  const xAxis = axisBottom(scaleX);
  function Botax(dom) { xAxis(select(dom)) };
  // Array
  const values = [2, 4, 6, 7, 9];
</script>

<svg viewBox="0 -15 {width+25} {height}">
  <g color="black" transform="translate({margin.left},{margin.top})">
    {#each values as v}
    <circle cx={scaleX(v)} cy={innerHeight/2} r=10/>
    {/each}
    <text x={innerWidth/2} y={innerHeight-margin.bottom+margin.top} fill="currentcolor" class="small">log(x)</text>
  </g>
  <g use:Botax transform="translate({margin.left},{innerHeight-margin.top})"/>
</svg>
