<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  import {scaleLinear} from 'd3-scale';
  import {scaleOrdinal} from 'd3-scale';
  import {schemeDark2} from 'd3-scale-chromatic';
  import {extent} from 'd3-array';
  const scaleX=scaleLinear().domain([0,10]).range([0,innerWidth]);
  const scaleY=scaleLinear().domain([3,0]).range([0,innerHeight]);
  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];
  const colorScale=scaleOrdinal(schemeDark2).domain(extent(values, d=> d.category));
</script>

<svg viewBox="0 0 {width} {height-5}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as v}
    <line x1={scaleX(v.x)} y1={innerHeight} x2={scaleX(v.x)} y2={scaleY(v.y)} style="stroke:rgb(255, 153, 204);stroke-width:2" />
    <circle cx={scaleX(v.x)} cy={scaleY(v.y)} r=9 fill={colorScale(v.category)}/>
    <text x={scaleX(v.x)} y={scaleY(v.y)-10} class="valueLabel">y={v.y}</text>
    {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
