<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  import {scaleLinear} from 'd3-scale';
  import {scaleBand} from 'd3-scale';
  import {axisLeft} from 'd3-axis';
  import {axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';
  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  const scaleX = scaleBand().range([0,innerWidth]).padding(0.4).domain(data.map(d => d.service));
  const scaleY = scaleLinear().domain([3,0]).range([0,innerHeight]);
  const xAxis = axisBottom(scaleX);
  const yAxis = axisLeft(scaleY);
  function botAx(dom){
    xAxis(select(dom))
  }
  function leftAx(dom){
    yAxis(select(dom))
  }
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="-100 0 {width+100} {height}" style="max-width: {width}px">
  <g color="black" transform={`translate(${margin.left},${margin.top})`}>
    {#each data as d}
    <rect x={scaleX(d.service)} y={scaleY(d.viewers)} width={scaleX.bandwidth()} height = {innerHeight-scaleY(d.viewers)} fill="steelblue"/>
    {/each}
    <text x={-margin.right-2*margin.left} y={margin.top} fill="currentcolor" class="label1">Amount of</text>
    <text x={-2*margin.right-2*margin.left} y={margin.top+14} fill="currentcolor" class="label1">viewers(Million)</text>
  </g>
  <g use:botAx transform={`translate(${margin.left},${innerHeight+margin.top})`}/>
  <g use:leftAx transform={`translate(${margin.left},${margin.top})`}/>
</svg>
